:root {
    --dark-gray: #5E5E5E;
    --red: #EF6161;
    --light-blue: #ADCACB;
    --light-green: #87C159;
    --purple: #B47AEA;
    --black: #000000;
    --blue: #1E9CEA;
    --white: #fff;
    --darker: #1F2937;
    --darkest: #111827;
    --dark-theme: #17161a;
    --dark-theme-white: #f2f2f2;
    --dark-theme-dark-gray: #2a2930;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--darkest);
    cursor: default;
}

.logo-img--light {
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

.logo-img--dark {
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

.input-color {
    padding: 10px;
    height: 55px;
    width: 350px;
    margin-right: 100px;

    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid var(--blue);
    border-radius: 25px;
    outline: none;
    color: var(--darkest);
}

.input-color--dark{
    background-color: var(--dark-theme-dark-gray);
    color: var(--dark-theme-white);
}

#theme {
    display: flex;
    border: none;
    margin-right: 50px;

    cursor: pointer;
}

.theme--light{
    background-color: var(--white);

}

#theme:hover {
    opacity: 0.8;
}

#theme:active {
    opacity: 0.5;
}

.theme-img {
    width: 50px;
    height: 50px;

}

/* FIRST ENTER start */
#first-entry {
    display: flex;
    justify-content: center;
    padding: 150px;
    cursor: default;
}

.main-text {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    color: var(--blue);
}

/* FIRST ENTER END */
/* MAIN START */
.main {
    display: flex;
    flex-direction: column;
}

#movie-list {
    display: none;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.movie {
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.movie--dark{
    background-color: var(--dark-theme);
}

.movie:hover {
    opacity: 0.8;
}

.movie:active {
    opacity: 0.5;
}

#movie-img {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}

#movie-title {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    max-width: 320px;
}

.movie-title--color{
    color: var(--darker);
}

#arrows-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0px 30px;
}

#arrows {
    display: flex;
    justify-content: center;
}

#arrow-left__btn {
    display: none;
    border: none;
    cursor: pointer;
}

.arrow-left--bgc{
    background-color: var(--white);
}

#arrow-left__btn:hover {
    opacity: 0.8;
}

#arrow-left__btn:active {
    opacity: 0.5;
}

.arrow-left__img {
    width: 50px;
    height: 50px;
}

#arrow-right__btn {
    display: none;
    border: none;
    cursor: pointer;
}

.arrow-right--bgc{
    background-color: var(--white);
}


#arrow-right__btn:hover {
    opacity: 0.8;
}

#arrow-right__btn:active {
    opacity: 0.5;
}

.arrow-right__img {
    width: 50px;
    height: 50px;
}

#result-wrapper {
    display: none;
}

.result__text---color {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: var(--darker);
    font-weight: 700;
    align-items: flex-end;
    cursor: default;
}

.result__text---dark-theme{
    display: flex;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: var(--dark-theme-white);
    font-weight: 700;
    align-items: flex-end;
    cursor: default;
}

.span--color-light {
    color: var(--blue);
}

/* MAIN END */
/* MOVIE INFO START */
#movie-info {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    padding: 0 25px 15px 25px;
    max-width: 600px;
    border: 3px var(--blue) solid;
    border-top: none;
}

.movie-info-bgc{
    background-color: var(--dark-theme-white);
}

.cancel-poster {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#cancel {
    border: none;
    cursor: pointer;
    margin-right: 100px;
}

#cancel:hover {
    opacity: 0.8;
}

#cancel:active {
    opacity: 0.5;
}

.cancel__img {
    width: 30px;
    height: 30px;
}

.poster__img{
    width: 400px;
    height: 550px;
}

.movie-title{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--darkest); 
}

.movie-title--dark-theme{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--red); 
}

.movie-rating{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--blue); 
}

.movie-info__text{
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--darker);  
    cursor: default;
}

.movie-info__text--dark-theme{
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--dark-theme-white);  
    cursor: default;
}

/* MOVIE INFO END */
/* DARK THEME start */
.dark-theme--bgc{
    background-color: var(--dark-theme);
}

.dark-theme--color{
    color: var(--blue);
}

/* DARK THEME end */