:root {
    --dark-gray: #5E5E5E;
    --red: #EF6161;
    --purple: #B47AEA;
    --black: #000000;
    --blue: #1E9CEA;
    --white: #fff;
    --darker: #1F2937;
    --darkest: #111827;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header start */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 55px 150px 50px;
}

.user-info {
    display: flex;
}

.user__png {
    height: 74px;
    width: 74px;
}

.user-info__text {
    padding-top: 15px;
}

#tasks-pending {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    cursor: default;
    color: var(--red);
    font-weight: 500;
    line-height: 1.8rem;

}

.user__text {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-gray);
    line-height: 1.8rem;
    cursor: default;
}

.logo {
    margin-right: 250px;

    font-family: 'Inter', sans-serif;
    cursor: default;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(--dark-gray);
}

#logout {
    display: flex;
    align-items: center;

    font-family: 'Inter', sans-serif;
    border: none;
    background-color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--purple);
    line-height: 1.8rem;
    cursor: pointer;
}

/* Header end */
/* Main :start */
main {
    padding-bottom: 55px;
}

#button-add {
    display: flex;
    align-items: center;
    margin-left: 300px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid var(--purple);
    background-color: #B47AEA;
}

.btn__text {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--purple);
    line-height: 1.8rem;

    margin-left: 15px;
}

/* Main end */
/* Tasks start */
.section {
    display: flex;
    align-items: center;
}

#tasks {
    margin-left: 300px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.delete-btn {
    border: none;
    background-color: var(--white);
    padding: 0;
    cursor: pointer;
}

.delete-img {
    margin-right: 15px;
    border: none;
}


.task__text {
    border: none;
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
    cursor: default;
}

.task__text:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.add-btn-enable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    border-radius: 5px;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.add-btn-disable {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 0;
    margin-right: 20px;
}

/* Tasks end */
/* Input start */
#task-form {
    display: flex;
}

#task-input,
#task-submit,
.add-btn-enable,
.delete-btn {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-input {
    display: none;
    width: 500px;
    border: 1px solid var(--blue);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 300px;
    color: var(--dark-gray);
    font-size: 1.25rem;
}

#task-input::placeholder {
    color: var(--dark-gray);
}

#task-submit {
    display: none;
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--blue), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#task-submit:hover {
    opacity: 0.8;
}

#task-submit:active {
    opacity: 0.6;
}

/* Input end */
/* Login start */
#login {
    display: none;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 200px;
    right: 770px;
    top: 150px;
    padding: 0 0 50px 30px;

    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border: 2px solid var(--blue);
    background-color: var(--white);
    border-radius: 30px;
    opacity: 0.9;
}

.cancel-wrapper {
    display: flex;
    justify-content: end;
}

.cancel-btn {
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 40px;
    border: none;
    background-color: var(--white);
}

.cancel-img {
    width: 40px;
    height: 40px;
}

.login__txt {
    padding-bottom: 30px;

    text-align: left;
    color: var(--darkest);
    font-size: 2rem;
    font-weight: 700;
}

#user-name {
    display: flex;
    align-items: center;
}

#input-login {
    margin-right: 15px;
    border: 1.5px solid var(--blue);
    border-radius: 30px;
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    padding: 10px;
}

.input-btn {
    cursor: pointer;
    border: none;
    width: 80px;
    height: 60px;
    border-radius: 20px;
    color: var(--purple);
    background-color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Login end */

.add-btn--style {
    background-color: var(--blue);
}

.task__text--style {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}