:root {
    --dark-gray: #5E5E5E;
    --red: #EF6161;
    --light-blue: #ADCACB;
    --light-green: #87C159;
    --purple: #B47AEA;
    --black: #000000;
    --blue: #1E9CEA;
    --white: #fff;
    --darker: #1F2937;
    --darkest: #111827;
    --dark-theme: #17161a;
    --dark-theme-white: #f2f2f2;
    --dark-theme-dark-gray: #2a2930;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 300px;
}

.main__text {
    margin-bottom: 40px;

    color: var(--darkest);
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    cursor: default;
}

#play__button {
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--blue);
    background-color: var(--white);
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 15px;
}

#leader-board__button {
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--blue);
    background-color: var(--white);
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 15px;
}

#play__button:hover,
#leader-board__button:hover {
    opacity: 0.8;
}

#play__button:hover,
#leader-board__button:hover {
    opacity: 0.5;
}

/* GAME START */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 100px 0 100px;
}

#questions-numbers {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--darkest);
    cursor: default;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score__text {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--darkest);
    cursor: default;
}

#score__number {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: default;
}

.score__number--color{
    color: #FD0523;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 150px 0 150px;
}

#question {
    margin-bottom: 50px;

    font-weight: 700;
    text-align: center;
    color: var(--darkest);
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    cursor: default;
}

#forth-choise,
#third-choise,
#second-choise,
#first-choise {
    padding: 18px;
    width: 800px;
    height: 80px;
    margin-bottom: 30px;

    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    color: var(--darker);
    cursor: pointer;
}

#forth-choise:hover,
#third-choise:hover,
#second-choise:hover,
#first-choise:hover {
    opacity: 0.8;
}

#forth-choise:active,
#third-choise:active,
#second-choise:active,
#first-choise:active {
    opacity: 0.5;
}

/* GAME END */
/* End START */
.section {
    display: flex;
    padding: 200px 300px 0 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.score-wrapper--second {
    margin-bottom: 20px;
}

.score__text--second {
    font-weight: 700;
    color: var(--darker);
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    cursor: default;
}

#final-score {
    font-weight: 700;
    color: var(--red);
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    cursor: default;
}

#user-name__input {
    margin-bottom: 30px;
    padding-left: 18px;

    border: 2px solid var(--blue);
    font-family: 'Inter', sans-serif;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.3rem;
    outline: none;
    color: var(--dark-gray);
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#save__button {
    font-family: 'Inter', sans-serif;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--darker);
    font-weight: 700;
    font-size: 1.4rem;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    cursor: default;
}

#home__button {
    font-family: 'Inter', sans-serif;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--darker);
    font-weight: 700;
    font-size: 1.4rem;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}

#home__button--leader-board{
    font-family: 'Inter', sans-serif;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--darker);
    font-weight: 700;
    font-size: 1.4rem;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}

#retry__button {
    font-family: 'Inter', sans-serif;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--darker);
    font-weight: 700;
    font-size: 1.4rem;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}

.hover-effects{
    cursor: pointer;
}

#home__button:hover,
#retry__button:hover,
#save__button:hover,
#home__button--leader-board:hover {
    opacity: 0.8;
}

#home__button:active,
#retry__button:active,
#save__button:hover,
#home__button--leader-board:hover {
    opacity: 0.5;
}

/* End END */
/* lEADER-BOARD START */
.leader-board__title {
    margin-bottom: 30px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: var(--darkest);
    cursor: default;

}

.user-score {
    margin-bottom: 20px;

    cursor: default;
}

.user-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--blue);
}

/* lEADER-BOARD END */
/* colors for numbers START */

.color-yellow{
color: #F9E92F;
}

.color-green{
color: #87DD28;
}
/* colors for numbers END */